.container{
    .footer{
        background: #282828;
        margin-top: 60px;
        div{
            width: 1200px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            margin: 0 auto;
            color: #fff;
            font-size: 12px;
        }
    }
}