.container{
    width: 100%;
   
    
        // background:pink;
        //头部
        .header_whole{
            background-color:#fff;
            width: 100%;
            header{
                background-color:#fff;
                width: 1200px;
                margin:0 auto;
                height: 170px;
                text-align: center;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    flex:.1;
                }
                .head-center{
                    flex:.4;
                    display: flex;
                    margin-top: 50px;
                    height: 120px;
                    flex-direction: column;
                    .search{
                        font-family: 'iconfont' !important;
                        
                        width:100%;
                        height:45px;
                        text-align: center;
                        border:1px solid #333;
                        border-radius: 30px;
                       
                        input{
                            width:75%;
                            height: 95%;
                            border:none;
                            border-right: 1px solid #333;
                           
                        }
                        .iconfont{
                            font-family:"iconfont" !important;
                            font-size:26px;
                            font-style:normal;
                        }
                    }
                    ul{
                        text-align: center;
                        li{
                            width:100px;
                            padding:10px;
                            float: left;
                            text-align: center;
                            a{
                                width: 100%;
                                height: 100%;
                                padding:10px 10px;
                                text-decoration: none;
                                color:#333;
                            }
                            a:hover{
                                color:red;
                                border-bottom:2px solid #d93732;
                            }
                        }
                        
                    }
                    
                }
                .login-register{
                    flex:.3;
                    // float: left;
                    display: flex;
                    a{
                        flex: 33.33%;
                        color:#333;
                        font-size: 16px;
                        text-decoration: none;
                        span:nth-child(1){
                            width: 20%;
                        }
                        span:nth-child(2){
                            width: 20%;
                        }
                        span:nth-child(3){
                            width: 60%;
                            padding-left: 50px;
                        }
                    }
                    
                }
            }
        }
    }