.container{
    .xid{
        width: 800px;
        height: 500px;
        margin: 0 auto;
        background: red;
    }
    .daf{
        width:800px;
        text-align: left;
        line-height: 100px;
        margin: 0 auto;
        height: 100px;
    }
}