
            <!-- 主体 -->
            <div class="main_whole">
                    <div class="main">
                            <div  class="title">
                                <p class="title1">{{aa.ctitle}}</p>
                                <p class="title2">主讲人：{{aa.author}}</p>
                            </div>
                            <div class="desc">{{aa.description}}</div>
                            <div class="anniu"> 
                                <p class="price">￥{{aa.price}}</p>
                                <input type="submit" class="btn" id="{{aa.id}}" value="提交订单">
                            </div>
                    </div>
            </div>
   
