  <!-- 头部 -->
  <div class="header_whole">
    <header>
            <div class="logo">
                <a href="shouye.html">
                    <img src="./images/logo.png" alt="logo">
                </a>
            </div>
            <div class="head-center">
                <div class="search">
                    <input type="text">
                    <i class="iconfont">&#xe641;</i>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="shouye.html">首页</a></li>
                        <li><a href="zonghepaixu.html">课程选择</a></li>
                        <li><a href="youxuanhaoke.html">优选好课</a></li>
                    </ul>
                </div> 
            </div>
            <div class="login-register">
                <a href="login.html"><span>登录</span></a>|
                <a href="register"><span>注册</span></a>
                <a href="personal.html"><span>个人中心</span></a> 
            </div>
    </header>
</div>