<div class="nav1">
    <span>课程类型:</span>
    <span>全部</span>
    <span>|</span>
    <i>软件入门</i>
    <select name="name" id="entry" >
        {{each type}}
        <option value="">{{$value.subtitle}}</option>
        {{/each}}
    </select>
    <span>|</span>
    <i>设计技巧</i>
    <select name="name" id="entry" >
            {{each titlebyid}}
            <option value="">{{$value.ttitle}}</option>
            {{/each}}
    </select>
</div>

<div class="zong">
    <h2>
            <span>综合排序</span>
            <span>热门</span>
    </h2>
    <div class="zong_main">
        <ul>
            {{each list}}
            <li>
                <div class="zong_main_left">
                    <img src="http://10.9.166.79:8080/images/{{$value.bigImg}}" alt="">
                </div>
                <div class="zong_main_right">
                    <div class="top">
                        <span>{{$value.ctitle}}</span>
                        <span>课程评分:<i>{{$value.cores}}</i>分</span>
                    </div>
                    <div class="desc">
                        {{$value.description}}
                    </div>
                </div>
            </li>
            {{ /each }}
        </ul>
    </div>
</div>

<div class="footer1">
    <a href="">首页</a>
    <a href="">上页</a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">...</a>
    <a href="">下页</a>
    <a href="">尾页</a>
</div>